CacheControl
cachetools
certifi
charset-normalizer
click
contourpy
cycler
firebase-admin
Flask
fonttools
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
msgpack
numpy
packaging
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pyparsing
python-dateutil
python-firebase
requests
rsa
six
uritemplate
urllib3
Werkzeug
